:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-base: 'Segoe UI', 'HelveticaNeue-Light', sans-serif;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 1200px;
  --header-height: 60px;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs-min: 480px;  /* Extra small screen / phone */
  --screen-sm-min: 768px;  /* Small screen / tablet */
  --screen-md-min: 992px;  /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */

  /*
   * Colours
   * ======================================================================== */

  --almost-black: #121212;
  --greyish-brown: #4a4a4a;
  --greyish-brown-two: #5a5858;
  --warm-grey: #888;
  --light-gray: #979797;
  --warm-grey-two: #9a9a9a;
  --warm-grey-three: #979797;
  --greyish: #b0b0b0;
  --pinkish-grey: #c1c1c1;
  --pinkish-grey-two: #d4d4d4;
  --pale-grey: #f7f8fa;
  --light-gray-border: #e9e9e9;
  --light-background: #fff;
  --dark-gray: #7c7c7c;
  --light-blue-gray: #e6eaee;
  --background-gray: #f8f8f8;
  --border-gray: #d4d4d4;
  --light-blue-font: #5877fa;
  --purpleish-blue: #6644fb;
  --cerulean-blue: #0073f0;
  --black-font: #000;
  --dark-font: #354052;
  --gray-font: #4a4a4a;
  --orange: #ff7f00;
  --blue: #5877fa;
  --green: #3bb096;
  --btn-background: #46bbc6;
  --turquoise-blue: #00b9c8;
  --greeny-blue: #46bbc6;
  --macaroni-and-cheese: #e69b33;
  --background-item: #f6f5f8;
  --background-child: #ebeaee;
  --purple: #6644fb;
  --red: #ff001f;
  --pink-red: #ef4a5c;
  --light-red: rgba(239, 74, 92, 0.1);
  --success-color: #61c06a;
  --warning-color: #fcd21e;
  --error-color: #ef4a5c;
  --semidark-pink: #6543f9;
  --dark-pink: #4f36ce;
  --darker-pink: #322696;
  --light-background-opacity: rgba(255, 255, 255, 0.5);
  --dark-background-opacity: rgba(0, 0, 0, 0.5);
  --box-shadow-opacity: rgba(73, 73, 73, 0.31);
  --light-gray-color-opacity: rgba(0, 0, 0, 0.43);
  --gray-color-opacity: rgba(0, 0, 0, 0.65);
}
